.shippingContainer {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shippingBox {
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
  width: 25vw;
  height: 90vh;
}

.shippingHeading {
  text-align: center;
  margin: auto;
  color: rgba(0, 0, 0, 0.664);
  padding: 1.3vmax;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 50%;
  font: 400 1.3vmax "Roboto";
  margin: auto;
}

.shippingForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s;
  height: 80%;
  justify-content: space-evenly;
  margin: auto;
  padding: 2vmax;
}

.shippingForm > div {
  display: flex;
  align-items: center;
  width: 100%;
}

.shippingForm > div > input,
.shippingForm > div > select {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  border: 1px solid rgba(0, 0, 0, 0.205);
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;

  outline: none;
  font: 300 0.9vmax cursive;
}

.shippingForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.664);
}

.shippingBtn {
  border: none;
  background-color: tomato;
  color: white;
  margin: 2vmax;
  width: 100%;
  font: 300 1vmax "Roboto";
  cursor: pointer;
  padding: 1.5vmax;
  outline: none;
  transition: all 0.5s;
}

.shippingBtn:hover {
  background-color: rgb(179, 46, 66);
}

@media screen and (max-width: 600px) {
  .shippingBox {
    width: 100vw;
    height: 95vh;
  }
  .shippingHeading {
    font-size: 6vw;
    padding: 5vw;
  }
  .shippingForm {
    padding: 11vw;
  }
  .shippingForm > div > input,
  .shippingForm > div > select {
    padding: 5vw 10vw;
    font-size: 4vw;
  }
  .shippingForm > div > svg {
    font-size: 6vw;
    transform: translateX(3vw);
  }
  .shippingBtn {
    font-size: 4vw;
    padding: 4vw;
  }
}
